@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sumana:wght@400;700&display=swap");

/* GENERAL */

:root {
  --main-gradient: linear-gradient(
      to right,
      rgb(77, 77, 255),
      rgb(102, 153, 255),
      rgb(102, 179, 255)
    ),
    rgb(153, 204, 255);
  --blue: #4d4dff;
  --black: #292929;
  --white: #ffffff;
  --ligh-blue: #bbd3ff;
  --red: #ff1654;
  --gray: #7e7e7e;
  --light-gray: #e0e0e0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow: auto;
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.4rem;
  text-align: center;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.4rem;
}
p {
  font-family: "Sumana", serif;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--black);
}

.btn {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  padding: 4% 8%;
  background-color: var(--white);
  border-radius: 10px;
}

.btn:hover {
  background-color: var(--light-gray);
  padding: 4.5% 8.5%;
  transition-timing-function: ease-out;
  transition: 0.2s;
  border: 2px solid var(--white);
}

.btn-sm {
  font-size: 1.4rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  padding: 10px 25px;
  background-color: var(--white);
  border-radius: 10px;
}

.btn-sm:hover {
  background-color: var(--light-gray);
  padding: 12px 27px;
  transition-timing-function: ease-out;
  transition: 0.2s;
  border: 1px solid var(--white);
  cursor: pointer;
}

/* NAVBAR */

.navbar {
  position: fixed;
  background-color: var(--white);
  border-bottom: 1px solid var(--blue);
  display: flex;
  justify-content: space-between;
  top: 0;
  margin: 0;
  z-index: 1;
  height: 70px;
  width: 100%;
}

.navbar-elements {
  display: flex;
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
  align-items: center;
}
.navbar-element {
  list-style: none;
  padding: 10px 30px;
  width: auto;
  height: auto;
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
  align-items: center;
}

.navbar-element:hover {
  transition: 0.4s;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  border-radius: 10px;
}

#main-title {
  display: inline;
  margin-left: 50px;
  position: relative;
  top: 35%;
  font-size: 1.2em;
  text-shadow: 1px 1px rgb(128, 191, 255);
}

/* Home */

#home {
  background: var(--main-gradient);
}
.home-container {
  height: 100vh;
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin: auto;
  align-content: center;
  max-width: 1140px;
  justify-items: center;
  overflow: hidden;
  padding: 0 5%;
}

.home-image svg {
  height: 100%;
}

.home-titles h2 {
  padding: 3% 0;
}
.home-titles h5 {
  padding: 3% 0;
  margin-bottom: 10%;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.anim-typewriter {
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0.1rem;
  border-right: 0.1rem solid var(--white);
  animation: typewriter 3s steps(19) 1s 1 normal both,
    blinkTextCursor 0.75s steps(19) infinite normal;
}

/* Projects */

.projects-container {
  height: 100vh;
  background-color: var(--ligh-blue);
  overflow: hidden;
  padding: 0 5%;
}

.projects-higlights {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--white);
  column-gap: 20px;
  margin: auto;
  max-width: 1024px;
  justify-items: center;
  color: var(--black);
}

.projects-higlights img {
  display: block;
  margin: auto;
}

.projects-image {
  background: url(../images/website_Frame_projects.svg) no-repeat;
  background-size: contain;
  height: 45%;
  background-position: center;
}
.projects-image img {
  padding-top: 20px;
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
}

.projects-card {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 10px;
  margin: 10px 0;
  padding: 30px 10px 30px 10px;
  text-align: center;
}

.projects-card-text {
  margin-bottom: 30px;
  padding: 10px 0;
  height: 90px;
}

/* Developers */

.dev-title {
  margin: 20px;
  text-align: center;
  color: var(--blue);
}

.developers-card-deck {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1024px;
  justify-items: center;
  align-items: center;
  color: var(--black);
  margin: auto;
  column-gap: 10px;
}

.dev-card {
  border-radius: 10px;
  padding: 10px 50px;
  margin: 10px -100px;
  box-shadow: 2px 2px var(--ligh-blue);
}

.dev-card-content {
  display: inline-block;
  grid-template-columns: auto;
  column-gap: 2px;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.dev-card-image {
  margin: 10px 30px;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}

.dev-card-backgroundhann {
  background: url("../images/hann_img.png")
    no-repeat;
  background-size: cover;
}

.dev-card-backgroundmanas {
  background: url("../images/manas_img.png")
    no-repeat;
  background-size: cover;
}

.dev-card-backgroundtheo {
  background: url("../images/theo_img.png")
    no-repeat;
  background-size: cover;
}
.dev-card-backgroundsyf {
  background: url("../images/syf_img.png")
    no-repeat;
  background-size: cover;
}

.dev-card-backgroundzhenyu {
  background: url("../images/zhenyu_img.png")
    no-repeat;
  background-size: cover;
}

.dev-card-text {
  height: 70%;
  margin: 20px 0;
}

.div-card-social {
  display: flex;
  justify-content: center;
}

.div-card-social img {
  display: inline;
}

.div-card-social h6 {
  display: inline;
  margin: 0 15px 0 5px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin: 20px;
}

@media only screen and (max-width: 1200px) {
  /* Generals */
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.4rem;
  }
  h6 {
    font-size: 1.2rem;
  }
  p {
    font-family: "Sumana", serif;
    font-size: 1.2rem;
    line-height: 1.2;
  }

  /* Home */

  .home-image img {
    width: 100%;
  }

  /* Projects */
  .projects-higlights img {
    height: 10vh;
  }
  .projects-container {
    height: 90vh;
  }
}

@media only screen and (max-width: 800px) {
  /* Projects */
  .projects-card-text {
    height: auto;
  }
}

@media only screen and (max-width: 800px) {
  /* projects */
  .projects-container {
    height: auto;
  }
  .projects-higlights {
    grid-template-columns: 1fr;
  }
  .projects-card-text {
    height: auto;
  }
  /* developers */
  .developers-card-deck {
    grid-template-columns: 1fr 1fr;
  }
  .projects-card {
    width: 500px;
  }
}

@media only screen and (max-width: 540px) {
  /* General: */
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1.1rem;
  }
  p {
    font-family: "Sumana", serif;
    font-size: 1.1rem;
    line-height: 1.1;
  }
  /* Home */

  .home-container {
    grid-template-columns: 1fr;
  }

  .home-image {
    display: none;
  }
  /* projects */
  .projects-card {
    width: auto;
  }

  /* developers */
  .developers-card-deck {
    grid-template-columns: 1fr;
  }
}
