
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PyDev</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main id="home-container">
        <header>
            <nav class="navbar">
                <div id="main-title">OpenDevs</div>
                <ul>
                    <a href="#"><li class="navbar-elements" id="Developers-page">Developers</li></a>
                    <a href="#"><li class="navbar-elements" id="Projects-page">Project</li></a>
                    <a href="/h"><li class="navbar-elements" id="Home-page">Home</li></a>
                </ul>
            </nav>
        </header>
        <section class="centered-text">
            <p class="line anim-typewriter">OpenDev: Merry Christmas.</p>
        </section>
    </main>

    
</body>
</html>