
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PyDev</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Home -->
    <main id="main-container">
        <section id="home">
            <header>
                <nav class="navbar">
                    <div id="main-title">PyDev</div>
                    <ul>
                        <li class="navbar-elements" id="Developers-page"><a href="#developer">Developers</a></li>
                        <li class="navbar-elements" id="Projects-page"><a href="#projects">Projects</a></li>
                        <li class="navbar-elements" id="Home-page"><a href="#home">Home</a></li>
                    </ul>
                </nav>
            </header>
            <p class="line anim-typewriter">Pydev: Merry Christmas🎄</p>
        </section>

        <section id="projects">

        </section>


    </main>

    <!-- Projects -->



    
</body>
</html>