<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenDevs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="../resources/world.svg" sizes="32x32">
</head>

<body>
    <!-- Home -->
    <main id="main-container">
        <header>
            <nav class="navbar">
                <div id="main-title">
                    <h4>Open Dev</h4>
                </div>
                <ul class="navbar-elements">
                    <li class="navbar-element" id="Developers-page"><a href="#developer">Developers</a></li>
                    <li class="navbar-element" id="Projects-page"><a href="#projects">Projects</a></li>
                    <li class="navbar-element" id="Home-page"><a href="#home">Home</a></li>
                </ul>
            </nav>
        </header>
        <section id="home">
            <div class="home-container">
                <div class="home-titles">
                    <h2 class="anim-typewriter">Join our Community</h2>
                    <h5>Open Dev is a community that encourages learning thru colaborative Open Source Projects</h5>
                    <a class="btn" href="https://discord.gg/QwjqRrvX" target="_blank">Discord Server</a>
                </div>
                <div class="home-image">
                    <img src="../static/images/website_home_svg.svg" alt="home image open dev community">
                </div>
            </div>
        </section>

        <!-- projects section -->

        <section id="projects" class="projects-container">
            <div class="projects-higlights">
                <div>
                    <img src="../static/images/website_projects_lamp_svg.svg" alt="project highlitghts">
                    <div class="projects-card">
                        <h4 class="projects-card-title">
                            Algebra Solver
                        </h4>
                        <p class="projects-card-text">
                            This project pretend to help to resolve algebraic expressions in a easy and efficient
                            fashion. It is coded in python in help with Tkinter.
                        </p>
                        <a class="btn-sm" href="https://discord.gg/QwjqRrvX" target="_blank">
                            Participate
                        </a>
                    </div>
                </div>
                <div>
                    <img src="../static/images/website_projects_lamp_svg.svg" alt="project highlitghts">
                    <div class="projects-card">
                        <h4 class="projects-card-title">
                            Meeting Scheduler
                        </h4>
                        <p class="projects-card-text">
                            For those project managers to have calls & meetings with teams across the world. This app
                            will help you to know if the time selected for a meeting is suitable for all participants.
                        </p>
                        <a class="btn-sm" href="https://discord.gg/QwjqRrvX" target="_blank">
                            Participate
                        </a>
                    </div>
                </div>
                <div>
                    <img src="../static/images/website_projects_lamp_svg.svg" alt="project highlitghts">
                    <div class="projects-card">
                        <h4 class="projects-card-title">
                            Crypto-currency
                        </h4>
                        <p class="projects-card-text">
                            If you are interested to create a Cryptocurrency and get involved across the whole process.
                            Don't miss ut the opportunity and join our community.
                        </p>
                        <a class="btn-sm" href="https://discord.gg/QwjqRrvX" target="_blank">
                            Participate
                        </a>
                    </div>
                </div>
            </div>
            <div class="projects-image">
            </div>
        </section>

        <!-- Developers Section -->
        <section id=#developers>
            <div class="developers-container">
                <h2 class="dev-title">Developers</h2>

                <div class="developers-card-deck">
                    <div class="dev-card">
                        <div class="dev-card-content">
                            <div class="dev-card-image dev-card-background1"></div>
                            <div>
                                <h4>Hann Web</h4>
                                <p class="dev-card-text">
                                    I am a technology project manager as my full time employement and MERN full
                                    stack
                                    developer. I really
                                    enjoy programming. I have resolved my own problems creating apps for
                                    myself, work and family in python, React, Express & Firebase.
                                </p>
                                <div class="div-card-social">
                                    <div>
                                        <img src="../static/images/brandico_github.svg" alt="github icon">
                                        <a href="https://github.com/HannWeb" target="_blank" rel="noopener noreferrer">
                                            <h6>Github</h6>
                                        </a>
                                    </div>
                                    <div>
                                        <img src="../static/images/bi_link-45deg.svg" alt="website icon">
                                        <a href="http://hannwebsites.com" target="_blank" rel="noopener noreferrer">
                                            <h6>Website</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dev-card">
                        <div class="dev-card-content">
                            <div class="dev-card-image dev-card-background2"></div>
                            <div>
                                <h4>Theo Trg</h4>
                                <p class="dev-card-text">

                                    I am 14 years old and I love coding. I like taking part in big projects and
                                    collaborate
                                    with others. My favoutite programming language is python. I love it! I have made a
                                    lot of projects like
                                    websites and games. I also like playing video games like FIFA.
                                </p>
                                <div class="div-card-social">
                                    <div>
                                        <img src="../static/images/brandico_github.svg" alt="website icon">
                                        <a href="https://github.com/theotrg07" target="_blank"
                                            rel="noopener noreferrer">
                                            <h6>GitHub</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dev-card">
                        <div class="dev-card-content">
                            <div class="dev-card-image dev-card-background2"></div>
                            <div>
                                <h4>Manas</h4>
                                <p class="dev-card-text">
                                    Small 14 Year Old Boy A Software Developer, Hobbyist Godot GameDev, Graphic Designer
                                    Etc
                                </p>
                                <div class="div-card-social">
                                    <div>
                                        <img src="../static/images/brandico_github.svg" alt="website icon">
                                        <a href="https://github.com/Manas-Bhosale" target="_blank"
                                            rel="noopener noreferrer">
                                            <h6>Github</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dev-card">
                        <div class="dev-card-content">
                            <div class="dev-card-image dev-card-background2"></div>
                            <div>
                                <h4>Zhenyu Liang</h4>
                                <p class="dev-card-text">
                                    Hi. I am the Lead Developer of Open Dev team and I am fluent in Python, C,
                                    JavaScript,
                                    C++, and some others. I also do hardware coding.
                                </p>
                                <div class="div-card-social">
                                    <div>
                                        <img src="../static/images/brandico_github.svg" alt="website icon">
                                        <a href="https://github.com/Zhenyu-Liang" target="_blank"
                                            rel="noopener noreferrer">
                                            <h6>Github</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>

            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <img src="../static/images/brandico_github.svg" alt="github icon">
                <h6><a href="#" target="_blank" rel="noopener noreferrer">GitHub</a></h6>


                <svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <img src="../static/images/discord_icon.svg" alt="discord open dev">
                    <h6><a href="#" target="_blank" rel="noopener noreferrer">Discord</a></h6>

        </footer>
    </main>

    <Script src="./static/js/index.js"></Script>
</body>

</html>